<html>
    <head></head>
    <body>
        <h1> HELLO</h1>

        <form method="post" action='/edit/{{id}}'>

            <input class="inputbar" type"text" name="todo" value="{{todo}}" placeholder="Edit Todo"/>
            <button type="submit">Edit todo</button>
        </form>
        

 
    </body>
</html>
